pip
torch
torchvision
torchaudio
wrapt==1.12.1
pykeen==1.10.1
scikit-learn==1.3.1
git+https://github.com/huggingface/transformers
networkx
huggingface_hub
datasets
evaluate
nvidia-ml-py3
accelerate
sentence-transformers
nltk
tqdm
wget
gdown
